
header {
    margin: 1rem;
    padding-top: 0.5%;
}

h1 {
    text-decoration: underline;
    text-decoration-color: #fbd46d;
    text-underline-position: under;
    width: fit-content;
}

section {
    margin: 2rem;
    display: block;
    overflow:hidden;    /*stops the aside from going through this section when page shrinks*/
    min-width: max-content;
    padding-right: 1rem;
}

.preprompt {
    font-size: 17px;
    width:fit-content;
}

.prompt {
    font-style: italic;
}

input[type=text] {
    display: block;
    padding: 0.5rem;
    width: 50%;
    font-family: Arial;
    box-sizing: border-box;
    border-width: 0.025rem;
    border-radius: 0.3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    border-color: darkgrey;
}

textarea {
    display: block;
    height:6rem;
    resize:none;
    font-family: Arial;
    padding: 0.5rem;
    box-sizing: border-box;
    border-radius: 0.3rem;
    width: 50%;
    border-color: darkgrey;
    transition: width 0.4s ease-in-out;
    
}

textarea:focus {
    width: 70%;
  }

#sendEmailBtn {                         /*alternative: input:[type=sumbit]*/
    background-color: #008891;
    color: #eeeeee;
    font-family: Arial;
    font-weight: bold;
    display: inline-block;
    padding: 0.4rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-top: 0.5rem;
    border: none;
}

#sendEmailBtn:hover {                   /*alternative: input:[type=sumbit]:hover*/
    background-color: #fbd46d;
    color: #222831;
}

aside {
    margin-right: 5rem;
    padding-left: 2rem;
    display: block;
    float: right;
    width: fit-content;
}



h2 {
    text-decoration: underline;
    text-decoration-color: #fbd46d;
    text-underline-position: under;
    color: #008891;
}

ul {
    list-style: none;
    margin-left: -7%;
}
li {
    padding-bottom: 3%;
}
.connectLabel {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #008891;
    text-underline-position: under;
}

td {
    padding-bottom: 3%;
}
