
header {
    padding-top: 4.5%;
    display: block;
    text-align: center;
    margin: auto;
    width: fit-content;

}

h1 {
    text-align: left;
}

.highlightedName {
    background-color: #fbd46d;
}

.headerUnderlined {
    text-decoration: underline;
    text-decoration-color: #fbd46d;
    text-underline-position: under;
}

#profileImg {
    border-radius: 50%;
    margin-top: -10%;
    margin-bottom: -3%;
}

.miniInfo {
    display: block;
    text-align: center;
    margin: auto;
    width: fit-content;
}

.fa {
    color: #008891;
}

.contactLogos {
    font-size: 1.4rem;
}

.fa:hover {
    color: #fbd46d;
}

footer {
    margin-top: 4.5%;
}
